a {
    text-decoration: none;
    color: coral;
}

.img_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_wrap img {
    width: 100%;
    max-width: 960px;
}

.quick_menu {
    display: flex;
    grid-template-columns: repeat(9,auto);
    grid-gap: 30px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content_wrap {
    display: flex;
}

.member {
    background-color: coral;
    padding: 20px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
}

.member a{
    color:#fff;
    font-size: 30px;
    float: right;
}
